*.elc
*~
.cache
.emacs.desktop*
.last-package-update-day
.lsp*
.mc-lists.el
.org*
.smex-items
/excorporate
/workspace
ac-comphist.dat
backups
bookmarks
c-includes.el
configuration.el
configuration.html
configuration.pdf
configuration.tex
diary
ede-projects.el
elpa
emojis
eshell
history
ido.last
image-dired
mastodon.*
network-security.data
places
recentf
request
semanticdb
tramp
transient
url
