*.elc
*~
.cache
.dap-breakpoints
.emacs.desktop*
.last-package-update-day
.lsp*
.mc-lists.el
.org*
.smex-items
/workspace
ac-comphist.dat
backups
bookmarks
c-includes.el
configuration.el
configuration.html
configuration.pdf
configuration.tex
diary
ede-projects.el
eln-cache
elpa
elpy
emojis
eshell
history
ido.last
image-dired
mastodon.*
network-security.data
org-roam.db
places
recentf
request
semanticdb
tramp
transient
url
