*~
.lsp*
.org*
.cache
backups
eshell
tramp
url
ede-projects.el
semanticdb
.smex-items
.mc-lists.el
places
elpa
c-includes.el
request
ac-comphist.dat
ido.last
recentf
network-security.data
.emacs.desktop*
history
image-dired
*.elc
